language: php
sudo: false

php:
  - 7.1
  - 7.0

notifications:
  email:
    on_success: never
    on_failure: change

before_install:
  - composer self-update

install:
  - composer validate
  - composer install -o --prefer-dist --no-interaction

script:
 - mkdir -p build/logs
 - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
